QPushButton {{
  border-color: #fff5cc;
  color: #fff5cc;
  text-transform: none;
  height: 30px;
  border-radius: 10px;

}}

QPushButton::pressed{{
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #dadbde, stop: 1 #f6f7fa);
  color: skyblue;
  text-transform: scale(1.5);
}}

QPushButton:hover{{
	background-color: "#54545a";
}}

ListView{{
  background-color: rgba(4,7,26, 180) ;
  border: 1px solid #fff5cc;
}}

QScrollArea > QWidget > QWidget {{
  background-color: {QTMATERIAL_SECONDARYCOLOR};
}}

QScrollArea  {{
  border-radius:10px;
}}


QTabWidget[accessibleName="self_configuration_notebook"] QStackedWidget > QWidget {{
  background-color: {QTMATERIAL_SECONDARYCOLOR};
}}


QTabWidget[accessibleName="tab_widgets"] QStackedWidget > QWidget {{
  background-color: {QTMATERIAL_SECONDARYCOLOR};
  border: 2px solid #fff5cc;
  border-radius: 5px

}}

QTabWidget[accessibleName="tab_widgets"] QTabBar {{
  background-color: #fff5cc;
  color:{QTMATERIAL_SECONDARYCOLOR};

}}

QTabWidget[accessibleName="tab_widgets"] QTabBar::tab::selected {{
  color:black;
}}

QTabWidget[accessibleName="tab_widgets"] QTabBar::tab::!selected {{
  color:grey;
}}

QTreeView {{
  background-color:  {QTMATERIAL_SECONDARYCOLOR}
}}


QGroupBox[objectName="button_box_1"]{{
  color:white;
  border: 1px #fff5cc;
}}


QStackedWidget{{
  background-color: rgba(4,7,26,0);
}}

QWidget[objectName="centralwidget"]{{
  background-color: rgba(4,7,26,50);
  border-radius: 10px
}}

QMainWindow{{
  background-color: rgba(4,7,26,85);
  border-radius: 10px 10px 0px 0px;
}}

QStatusBar{{
  background-color: rgba(4,7,26, 180);
  border-radius: 0px 0px 20px 20px;
}}

QTabWidget[objectName="self_configuration_notebook"] QTabBar{{
  border-radius: 5px;
  background-color:{QTMATERIAL_SECONDARYCOLOR};
}}

QTabWidget[objectName="self_configuration_notebook"] QTabBar::tab::selected{{
  color: black;
  background-color:#fff5cc;
  border-radius: 5px
}}


QWidget[objectName="experiment_initialization_3"]{{
  border-radius: 5px;
  background-color: rgba(4,7,26, 180)
}}

QWidget[objectName="batch_communication_3"]{{
  border-radius: 5px;
  background-color: rgba(4,7,26, 180)
}}

QWidget[objectName="camera_3"]{{
  border-radius: 5px;
  background-color: rgba(4,7,26, 180)
}}

QWidget[objectName="page"]{{
  background-color: rgba(4,7,26, 0);
}}

QWidget[objectName="page_2"]{{
  background-color: rgba(4,7,26, 0);
}}


QTabWidget[objectName="online_analysis"] QTabBar{{
  border-radius: 5px;
  background-color:{QTMATERIAL_SECONDARYCOLOR};
}}

QTabWidget[objectName="online_analysis"] QTabBar::tab::selected{{
  color: black;
  background-color:#fff5cc;
  border-radius: 5px
}}

QWidget[objectName="online_analysis_window"]{{
  border-radius: 5px;
  background-color: rgba(4,7,26, 180)
}}

QWidget[objectName="labbook_window"]{{
  background-color: rgba(4,7,26, 180);
}}

QProgressBar {{
  border: 2px solid #fff5cc;
  border-radius: 5px;
  background-color: rgba(4,7,26, 180);
}}

QWidget[objectName="home"] {{

  background-color: rgba(4,7,26, 0);
}}

QWidget[objectName="frame"]{{
  background-color: rgba(4,7,26, 180);

}}


QWidget[objectName="OfflineResultWidget"]{{
  background-color: rgba(0,0,0,0)
}}


QStackedWidget[objectName="data_base_stacked_widget"]{{
  background-color: rgba(4,7,26, 180)
}}

QWidget[objectName="data_base"]{{
  background-color: rgba(4,7,26, 0)
}}


QTabWidget[objectName="Offline_Analysis_Notebook"] QStackedWidget > QWidget {{
  background-color: rgba(4,7,26, 180) ;
  border-radius: 5px
}}

QTabWidget[objectName="Offline_Analysis_Notebook"] QTabBar {{
  border-radius: 5px;
  background-color:{QTMATERIAL_SECONDARYCOLOR};
}}

QTabWidget[objectName="Offline_Analysis_Notebook"] QTabBar::tab::selected {{
  color: black;
  background-color:#fff5cc;
  border-radius: 5px
}}

QTabWidget[objectName="Offline_Analysis_Notebook"] QTabBar::tab::!selected {{
  color:grey;
}}

QWidget[objectName="side_left_menu"]  QPushButton{{
  color: #fff5cc;
}}


QWidget[objectName="side_left_menu"]  QPushButton:pressed{{
  color: skyblue;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #dadbde, stop: 1 #f6f7fa);
  border-radius: 10px 10px 0px 0px;
}}


QMdiArea {{
  qproperty-background: transparent;
  border: 1px solid #fff5cc;
}}

QWidget[objectName = "toolbar_widget"] {{
background:transparent;}}

QWidget[objectName = "toolbar_widget"] QWidget {{
border:0px;
border-radius: 10px;
background-color:White;
align:center;
}}