QPushButton {{
  background-color: #fff5cc;
  color: black;
  text-transform: none;

}}

ListView{{
  background-color: {QTMATERIAL_SECONDARYDARKCOLOR};
  border: 1px solid #fff5cc;
}}

QScrollArea > QWidget > QWidget {{
  background-color: {QTMATERIAL_SECONDARYCOLOR};
}}

.big_button {{
  height: 100px;
}}

QTabWidget[accessibleName="self_configuration_notebook"] QStackedWidget > QWidget {{
  background-color: {QTMATERIAL_SECONDARYCOLOR};


}}


QTabWidget[accessibleName="tab_widgets"] QStackedWidget > QWidget {{
  background-color: {QTMATERIAL_SECONDARYCOLOR};
  border: 2px solid #fff5cc;
  border-radius: 5px

}}

QTabWidget[accessibleName="tab_widgets"] QTabBar {{
  background-color: #fff5cc;
  color:{QTMATERIAL_SECONDARYCOLOR};

}}

QTabWidget[accessibleName="tab_widgets"] QTabBar::tab::selected {{
  color:black;
}}

QTabWidget[accessibleName="tab_widgets"] QTabBar::tab::!selected {{
  color:grey;
}}


QTabWidget[objectName="online_analysis_tabs"] QStackedWidget > QWidget {{
  background-color: {QTMATERIAL_SECONDARYCOLOR};
  border: 2px solid #fff5cc;
  border-radius: 5px


}}

QTabWidget[objectName="online_analysis_tabs"] QTabBar {{
  background-color: #fff5cc;
}}

QTabWidget[objectName="online_analysis_tabs"] QTabBar::tab::selected {{
  color:black;
}}

QTabWidget[objectName="online_analysis_tabs"] QTabBar::tab::!selected {{
  color:grey;
}}


QTreeView {{
  background-color:  {QTMATERIAL_SECONDARYCOLOR}
}}


QGroupBox[objectName="button_box_1"]{{
  color:black;
  border: 1px #fff5cc;
}}


QStackedWidget{{
  background-color: rgba(20,20,20,0);
}}

QWidget[objectName="centralwidget"]{{
  background-color: rgba(20,20,20,50);
  border-radius: 10px
}}

QMainWindow{{
  background-color: rgba(39,36,38,85);
  border-radius: 10px;
}}

QStatusBar{{
  background-color: rgba(49,54,59, 180);
  border-radius: 0px 0px 10px 10px;
}}

QTabWidget[objectName="self_configuration_notebook"] QTabBar{{
  border-radius: 5px;
  background-color:{QTMATERIAL_SECONDARYCOLOR};
}}

QTabWidget[objectName="self_configuration_notebook"] QTabBar::tab::selected{{
  color: black;
  background-color:#fff5cc;
  border-radius: 5px
}}


QWidget[objectName="experiment_initialization_3"]{{
  border-radius: 5px;
  background-color: rgba(49,54,59, 180)
}}

QWidget[objectName="batch_communication_3"]{{
  border-radius: 5px;
  background-color: rgba(49,54,59, 180)
}}

QWidget[objectName="camera_3"]{{
  border-radius: 5px;
  background-color: rgba(49,54,59, 180)
}}

QWidget[objectName="page"]{{
  background-color: rgba(49,54,59, 0);
}}

QWidget[objectName="page_2"]{{
  background-color: rgba(49,54,59, 0);
}}


QTabWidget[objectName="online_analysis"] QTabBar{{
  border-radius: 5px;
  background-color:{QTMATERIAL_SECONDARYCOLOR};
}}

QTabWidget[objectName="online_analysis"] QTabBar::tab::selected{{
  color: black;
  background-color:#fff5cc;
  border-radius: 5px
}}

QWidget[objectName="online_analysis_window"]{{
  border-radius: 5px;
  background-color: rgba(49,54,59, 180)
}}

QWidget[objectName="labbook_window"]{{
  background-color: rgba(49,54,59, 180);
}}

QProgressBar {{
  border: 2px solid #fff5cc;
  border-radius: 5px;
  background-color: rgba(49,54,59, 180);
}}

QWidget[objectName="home"] {{

  background-color: rgba(49,54,59, 0);
}}

QWidget[objectName="frame"]{{
  background-color: rgba(49,54,59, 180);

}}
