QPushButton {{
    color: black;
    text-transform: none;
    border-color: #97ccf2;
    height: 30px;
    border-radius: 10px;
  }}

  QPushButton::pressed{{
    background-color:  #b5b8c7;
    color: #97ccf2;
    text-transform: scale(1.5);
  }}

  QPushButton:hover{{
    background-color: #eaecf1;
  }}

  
ListView{{
  background-color: white;
  border: 2px solid #97ccf2;
}}

QScrollArea > QWidget > QWidget {{
  background-color: white;
}}

QTabWidget[accessibleName="tab_widgets"] QStackedWidget > QWidget {{
  background-color: white;
  border: 2px solid #97ccf2;
  border-radius: 5px;
}}


QTabWidget[accessibleName="tab_widgets"] QTabBar {{
  background-color: #97ccf2;
  color:{QTMATERIAL_SECONDARYCOLOR};
  border: 1px solid {QTMATERIAL_SECONDARYCOLOR};;
}}

QTabWidget[accessibleName="tab_widgets"] QTabBar::tab::selected {{
  color:black;
}}


QTabWidget[objectName="online_analysis_tabs"] QStackedWidget > QWidget {{
  background-color: white;
  border: 2px solid #97ccf2;
  border-radius: 5px

}}

QTabWidget[objectName="online_analysis_tabs"] QTabBar {{
  background-color: white;
  color:{QTMATERIAL_SECONDARYCOLOR};
}}

QTabWidget[objectName="online_analysis_tabs"] QTabBar::tab::selected {{
  color:black;
}}


QGroupBox[objectName="button_box_1"]{{
  border-radius: 10px;
}}

QGroupBox[objectName="button_box_1"] QLabel{{
  color: black;
}}



QStackedWidget{{
  background-color: rgba(255,255,255,0);
}}

QWidget[objectName="centralwidget"]{{
  background-color: rgba(223,223,223,20);
}}

QMainWindow{{
  background-color: rgba(220,220,220,60);
}}

QStatusBar{{
  background-color: rgba(255,255,255,180);
  border-radius: 0px 0px 10px 10px;
}}

QTabWidget[objectName="self_configuration_notebook"] QTabBar{{
  border-radius: 5px;
  background-color:{QTMATERIAL_SECONDARYCOLOR};
}}

QTabWidget[objectName="self_configuration_notebook"] QTabBar::tab::selected{{
  color: white;
  background-color:#97ccf2;
  border-radius: 5px
}}

QWidget[objectName="experiment_initialization_3"]{{
  border-radius: 5px;
  background-color: rgba(255,255,255,180)
}}

QWidget[objectName="batch_communication_3"]{{
  border-radius: 5px;
  background-color: rgba(255,255,255,180)
}}

QWidget[objectName="camera_3"]{{
  border-radius: 5px;
  background-color: rgba(255,255,255,180)
}}

QWidget[objectName="page"]{{
  background-color: rgba(49,54,59, 0);
}}

QWidget[objectName="page_2"]{{
  background-color: rgba(49,54,59, 0);
}}

QTabWidget[objectName="online_analysis"] QTabBar{{
  border-radius: 5px;
  background-color:{QTMATERIAL_SECONDARYCOLOR};
}}

QTabWidget[objectName="online_analysis"] QTabBar::tab::selected{{
  color: white;
  background-color:#97ccf2;
  border-radius: 5px
}}

QWidget[objectName="online_analysis_window"]{{
  border-radius: 5px;
  background-color: rgba(255,255,255,180);
}}

QWidget[objectName="labbook_window"]{{
  background-color: rgba(255,255,255,180);
}}

QWidget[objectName="home"] {{

  background-color: rgba(49,54,59, 0);
}}

QGroupBox{{
  background-color: white;
}}


QProgressBar {{
  border: 2px solid #97ccf2 ;
  border-radius: 5px;
  background-color: rgba(49,54,59, 180);
}}

QTabWidget[objectName="Offline_Analysis_Notebook"] QStackedWidget > QWidget {{
  background-color: rgba(255,255,255,180) ;
  border-radius: 5px
}}

QTabWidget[objectName="Offline_Analysis_Notebook"] QTabBar {{
  border-radius: 5px;
  background-color:{QTMATERIAL_SECONDARYCOLOR};
}}

QTabWidget[objectName="Offline_Analysis_Notebook"] QTabBar::tab::selected {{
  color: black;
  background-color:#97ccf2;
  border-radius: 5px
}}

QTabWidget[objectName="Offline_Analysis_Notebook"] QTabBar::tab::!selected {{
  color:grey;
}}

QPushButton[objectName="self_configuration"]{{
  color: #97ccf2;
}}

QWidget[objectName="side_left_menu"]  QPushButton:pressed{{
  color: skyblue;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #dadbde, stop: 1 #f6f7fa);
  border-radius: 10px 10px 0px 0px;
}}

QMdiArea {{
  qproperty-background: transparent;
  border: 1px solid #fff5cc;
}}

QWidget[objectName = "toolbar_widget"] {{
background:transparent;}}

QWidget[objectName = "toolbar_widget"] QWidget  {{
border:0px;
border-radius: 10px;
background-color:rgba(4,7,26, 180);
align:center;
}}
