QGroupBox:title{{color: "#000000";}}
QGroupBox{{background-color: "#e6e6e6";}} 


QLabel{{background-color: transparent; 
    color: "#000000";}}

QWidget{{background-color: "#e6e6e6";}}

QDialog{{background-color: "#e6e6e6";}}


QTreeView{{background-color: "#e6e6e6";}}

QTreeView::branch{{background-color: "#e6e6e6"; color: "#000000";}}
QHeaderView::section{{background-color: "#e6e6e6";}}

QTabWidget{{background-color: "#e6e6e6";}}

QPushButton{{border:black;}}