

QWidget{{
    background-color: #121212;
    border-radius:5px;
}}

QDialog{{
    background-color: #121212;
    border-radius:5px;
}}

QGroupBox{{
    background-color: #1f2933;
    border: 2px #1f2933;
    border-radius: 5px;
}}

QGroupBox:title{{
    color: "#ffffff";
}}

QTabWidget{{
    color: white;
    background-color: "#1f2933";
}}

QTabBar::tab {{ color: white; }}
QTabBar::tab:selected{{ color: white; }}

QTabBar::tab:!has-children:selected {{
    background-color: "{QTMATERIAL_SECONDARYCOLOR}";
    selection-background-color: "{QTMATERIAL_SECONDARYCOLOR}";
    color: white;
    selection-color: black;
}}


QHeaderView::section{{background-color: "#1f2933"; color:white;}}

QTreeView::item:hover {{
    background-color: "#1f2933";
}}

QTreeView::item{{color:white;}}

QTreeView::item:selected:focus {{
    background-color: "{QTMATERIAL_SECONDARYCOLOR}";
    selection-background-color: "{QTMATERIAL_SECONDARYCOLOR}";
    color: "white";
    selection-color: "white"; /* For Windows */
  }}

  QTreeView::item:!has-children:selected {{
    background-color: "{QTMATERIAL_SECONDARYCOLOR}";
    selection-background-color: "{QTMATERIAL_SECONDARYCOLOR}";
    color: white;
    selection-color: black;
}}



QWidget[accessibleName="additional_function_menu"]{{
    background-color: "#1f2933";
}}

QPushButton{{
    background-color: "#1f2933";
    border: 0px;
    color:white;
}}

QPushButton:hover{{
    background-color: "grey"; 
    border: 1px solid white;
}}


QLabel{{
    background-color: transparent; 
    color: "#ffffff";
}}

QCheckBox{{
    background-color:transparent; 
    color:white;
}}

QRadioButton{{
    background-color:transparent; 
    color:white; 
    border:white; 
}}

QRadioButton::indicator:checked {{
    background-color:       white; }}

QRadioButton::indicator:unchecked {{
    background-color:       white; }}

QComboBox{{
    background-color:"#121212"; 
    color:white;
 }}

QCheckBox::indicator:checked {{
    background-color:       white; }}

QCheckBox::indicator:unchecked {{
    background-color:       white; }}

QListView::item {{
    background-color: "#121212";;
}}

QListView::item:hover{{
    background-color: "grey"; 
    border: 0px;
}}

QProgressBar{{
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
}}

QProgressBar::chunk{{
    border: 2px solid grey;
    background-color: "#5b6e8b";
}}

QTableView::item{{
    color:#ffffff;
}}
QTableView::item::hover{{
    color:white; 
    background-color:grey;
}}

QTableView::section{{
    color:white;
}}

PandasTable{{
    color:white;
}}

QLineEdit{{
    color:white; 
    border: 2px solid white; 
    border-radius:5px;
}}

QSplitter{{
    background-color: "#1f2933";
}}

QTabWidget{{
    background-color: "#1f2933";
}}


QHeaderView::section{{
    background-color: "#121212";
    color:white;}}

QTreeView::branch{{
    background-color: "#121212"; 
    color: #1f2933;}}

QTreeView{{
    color:white;  
    padding: 5px;
    border: 0px solid white;
}}


QTreeWidget::branch{{
    background-color: #121212; 
    color: #1f2933;
}}

QTreeWidget::branch:selected {{
    background-color:#121212;
}}

QTreeWidget::branch:!selected{{
    background-color:#121212;
}}

QTreeWidget::item{{
    color:white;  
    background-color: #121212;
}}

QWidget[objectName="OfflineTree"] {{
    background-color: #121212;
}}


QFrame{{
    border: 0px solid red;
}}

QListView{{
    color: white;
}}

QWidget[objectName="MetadataPopup"] QFrame[objectName="popup_frame"] {{
    background-color: "#1f2933";
}}

QWidget[objectName="MetadataPopup"] QFrame[objectName="popup_frame"] QPushButton {{
    background-color: "#121212";
    color: white;
    border-color: "white";   
}}

QWidget[objectName="MetadataPopup"] QFrame[objectName="popup_frame"] QPushButton:hover {{
    background-color: "#1f2933";  
}}

QFrame[accessibleName="divline"]{{
    background-color: "#1f2933";
}}


QMdiArea {{
    qproperty-background: transparent;
}}

QMdiSubWindow{{
    selection-background-color:#1f2933;
    border-color: lightgray;
}}

QPushButton[objectName="go_back_button"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/go_left.png);}}  
QPushButton[objectName="fo_forward_button"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/go_right.png);}}  

QPushButton[objectName="select_directory_button"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/open_dir.png);}}
QToolTip[objectName="select_directory_button"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="load_from_database"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/db.png);}}
QToolTip[objectName="load_from_database"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="edit_meta"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/edit_meta.png);}}
QToolTip[objectName="edit_meta"] {{ color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="merge_series"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/merge.png);}}
QToolTip[objectName="mergie_series"] {{ color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="edit_series_meta_data"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/burst.png);}}
QToolTip[objectName="edit_series_meta_data"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="clear"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/broom.png);}}
QToolTip[objectName="clear"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="append"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/append.png);}}
QToolTip[objectName="append"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="add_meta_data_to_treeview"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/add_meta_data.png);}}
QToolTip[objectName="add_meta_data_to_treeview"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="start_analysis"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/play.png);}}
QToolTip[objectName="start_analysis"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="compare_series"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/cursor.png);}}
QToolTip[objectName="compare_series"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="postgresql_upload"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/upload.png);}}
QToolTip[objectName="postgresql_upload"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="plot_home"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/plot_home.png);}}
QToolTip[objectName="plot_home"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="plot_move"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/plot_move.png);}}
QToolTip[objectName="plot_move"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="plot_zoom"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/plot_zoom.png);}}
QToolTip[objectName="plot_zoom"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="add_filter_button"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/filter_edit.png);}}
QToolTip[objectName="plot_zoadd_filter_button"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="delete_selected"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/filter_remove.png);}}
QToolTip[objectName="delete_selected"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="button_select_data_file"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/open_dir.png);}}
QToolTip[objectName="button_select_data_file"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="go_home"]{{background-image: url(:QT_GUI/Button/light_mode/offline_analysis/bpe_logo_small.png);}}
QToolTip[objectName="plot_home"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="HomeButton"]{{background-image: url(:QT_GUI/Button/light_mode/offline_analysis/bpe_logo_small.png);}}
QToolTip[objectName="HomeButton"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="open_db"]{{background-image: url(:QT_GUI/Button/dark_mode/database_viewer/open_dir.png);}}
QToolTip[objectName="open_db"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="export_table"]{{background-image: url(:QT_GUI/Button/dark_mode/database_viewer/export_id_white.png);}}
QToolTip[objectName="export_table"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="select_columns"]{{background-image: url(:QT_GUI/Button/dark_mode/database_viewer/export_db_white.png);}}
QToolTip[objectName="select_columns"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="query_execute"]{{background-image: url(:QT_GUI/Button/dark_mode/database_viewer/execute_white.png);}}
QToolTip[objectName="query_execute"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="complex_query"]{{background-image: url(:QT_GUI/Button/dark_mode/database_viewer/execute_multi_white.png);}}
QToolTip[objectName="complex_query"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="AWS"]{{background-image: url(:QT_GUI/Button/dark_mode/database_viewer/aws_white.png);}}
QToolTip[objectName="AWS"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="ParquetExport"]{{background-image: url(:QT_GUI/Button/dark_mode/database_viewer/parquet_white.png);}}
QToolTip[objectName="ParquetExport"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="SQL"]{{background-image: url(:QT_GUI/Button/dark_mode/database_viewer/post_white.png);}}
QToolTip[objectName="SQL"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="SearchTable"]{{background-image: url(:QT_GUI/Button/dark_mode/database_viewer/search_white.png);}}
QToolTip[objectName="SearchTable"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="ImportDB"]{{background-image: url(:QT_GUI/Button/dark_mode/database_viewer/import_db_white.png);}}
QToolTip[objectName="ImportDB"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="save_plot_online"]{{background-image: url(:QT_GUI/Button/dark_mode/database_viewer/save_white.png);}}
QToolTip[objectName="save_plot_online"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="export_data_button"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/dark_csv_exp.png);}}
QToolTip[objectName="export_data_button"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="save_plot_button"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/dark_image_exp.png);}}
QToolTip[objectName="save_plot_button"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="plot_meta"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/dark_plot_meta.png);}}
QToolTip[objectName="plot_meta"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="series_to_csv"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/dark_series.png);}}
QToolTip[objectName="series_to_csv"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="show_pgf_trace"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/pgf.png);}}
QToolTip[objectName="show_pgf_trace"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="turn_off_grid"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/grid.png);}}
QToolTip[objectName="turn_off_grid"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="experiment_to_csv"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/dark_experiment_save.png);}}
QToolTip[objectName="experiment_to_csv"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="renameSeries"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/rename_dark.png);}}
QToolTip[objectName="renameSeries"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="add_metadata_button"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/add_meta_data.png);}}
QToolTip[objectName="add_metadata_button"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="save_labbook_button"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/dark_csv_exp.png);}}
QToolTip[objectName="save_labbook_button"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="save_image"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/dark_mode.png);}}
QToolTip[objectName="save_image"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="transfer_to_offline_analysis"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/upload.png);}}
QToolTip[objectName="transfer_to_offline_analysis"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="transfer_to_online_analysis"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/upload.png);}}
QToolTip[objectName="transfer_to_online_analysis"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="load_selected_discarded"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/load_discarded_flags.png);}}
QToolTip[objectName="load_selected_discarded"] {{color: #ffffff; background-color: #000000; border: 0px; }}


QPushButton[objectName="classifier_stream"]{{background-image: url(:QT_GUI/Button/online_analysis/dark_mode/ml_dark.png);}}
QToolTip[objectName="classifier_stream"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="batch_config"]{{background-image: url(:QT_GUI/Button/online_analysis/dark_mode/exp_dark.png);}}
QToolTip[objectName="batch_config"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="start_video_button"]{{background-image: url(:QT_GUI/Button/online_analysis/dark_mode/play_video_dark.png);}}
QToolTip[objectName="start_video_button"] {{color: #ffffff; background-color: #000000; border: 0px; }}


QToolButton[objectName="database_viewer_home_2"]{{color: white; qproperty-icon: url(:QT_GUI/Button/welcome_page/db_welcome_dark.png); }}
QToolButton[objectName="online_analysis_home_2"]{{ color: white; qproperty-icon: url(:QT_GUI/Button/welcome_page/online_analysis_dark.png);}}
QToolButton[objectName="offline_analysis_home_2"]{{ color: white; qproperty-icon: url(:QT_GUI/Button/welcome_page/offline_welcome_dark.png);}}
QToolButton[objectName="home_logo"]{{ color: white; qproperty-icon: url(:QT_GUI/Button/welcome_page/bp_online_dark.png);}}
QToolButton[objectName="configuration_home_2"]{{ color: white; qproperty-icon: url(:QT_GUI/Button/welcome_page/configuration_dark.png);}}
QToolButton[objectName="toolButton_2"]{{ color: white; qproperty-icon: url(:QT_GUI/Button/welcome_page/settings_dark.png);}}


QPushButton[objectName="go_to_online"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/online_dark.png);}}
QToolTip[objectName="go_to_online"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="change_solutions"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/solution_dark.png);}}
QToolTip[objectName="change_solutions"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="establish_connection_button"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/transfer_dark.png);}}
QToolTip[objectName="establish_connection_button"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="switch_to_testing"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/testing_dark.png);}}
QToolTip[objectName="switch_to_testing"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="stop_experiment_button"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/stop_dark.png);}}
QToolTip[objectName="stop_experiment_button"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="clear_sequence"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/clear_dark.png);}}
QToolTip[objectName="clear_sequence"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="transfer_to_online_analysis_button"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/finish_experiment_dark.png);}}
QToolTip[objectName="transfer_to_online_analysis_button"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="button_start_camera"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/play_dark.png);}}
QToolTip[objectName="button_start_camera"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="button_stop_camera"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/stop_dark.png);}}
QToolTip[objectName="button_stop_camera"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="button_take_snapshot"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/snapshot_dark.png);}}
QToolTip[objectName="button_take_snapshot"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="transfer_snapshot"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/transfer_dark.png);}}
QToolTip[objectName="transfer_snapshot"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="transfer_snapshot"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/transfer_dark.png);}}
QToolTip[objectName="transfer_snapshot"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="download_notebook"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/download_batch_dark.png);}}
QToolTip[objectName="download_notebook"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="metadata_table"]{{background-image: url(:QT_GUI/Button/Experimentator/dark_mode/grid.png);}}
QToolTip[objectName="metadata_table"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="home_button"]{{background-image: url(:QT_GUI/Button/light_mode/offline_analysis/bpe_logo_small.png);  margin-bottom: 10px}}
QToolTip[objectName="home_button"] {{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="show_in_3d"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/3d_dark_mode.png);}}
QToolTip[objectName="show_in_3d"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="make_screenshot"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/snapshot_dark_mode.png);}}
QToolTip[objectName="make_screenshot"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="change_series_name"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/change_series_name_dark_mode.png);}}
QToolTip[objectName="change_series_name"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="select_analysis_fct"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/analysis_functions_dark_mode.png);}}
QToolTip[objectName="select_analysis_fct"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="run_analysis_functions"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/play.png);}}
QToolTip[objectName="run_analysis_functions"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="advanced_analysis"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/advanced_analysis_dark_mode.png);}}
QToolTip[objectName="advanced_analysis"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="configure_report_button"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/create_report_dark_mode.png);}}
QToolTip[objectName="configure_report_button"]{{color: #ffffff; background-color: #000000; border: 0px; }}

QPushButton[objectName="create_report_button"]{{background-image: url(:QT_GUI/Button/dark_mode/offline_analysis/print_report_dark_mode.png);}}
QToolTip[objectName="create_report_button"]{{color: #ffffff; background-color: #000000; border: 0px; }}