QPushButton {{
  color: white;
  text-transform: none;
  background-color: {QTMATERIAL_SECONDARYCOLOR};
}}

.big_button {{
  height: 100px;
  font-family: 'Roboto';
  border: 1px solid {QTMATERIAL_PRIMARYCOLOR};

}}

QTabWidget::tab-bar {{
  alignment: left;
}}

