QPushButton {{
  color: white;
  text-transform: none;
  background-color: {QTMATERIAL_SECONDARYCOLOR};
  border-radius : 15px;
}}

.big_button {{
  height: 100px;
  font-family: 'Roboto';
  opacity: 200;
  border: 1px solid {QTMATERIAL_PRIMARYCOLOR};
  border-radius : 25px;

}}

.big_colored_button{{
  height: 100px;
  font-family: 'Roboto';
  opacity: 200;
  border: 1px solid {QTMATERIAL_SECONDARYCOLOR};
  border-radius : 25px;

}}



QTabWidget::tab-bar {{
  alignment: left;
}}

