QPushButton {{
    color: black;
    text-transform: none;
    background-color: #97ccf2;
  }}

  
ListView{{
  background-color: {QTMATERIAL_SECONDARYDARKCOLOR};
  border: 1px solid;
}}

QScrollArea > QWidget > QWidget {{
  background-color: {QTMATERIAL_SECONDARYCOLOR};
}}

QTabWidget[accessibleName="tab_widgets"] QStackedWidget > QWidget {{
  background-color: {QTMATERIAL_SECONDARYCOLOR};
  border: 1px solid grey;
  border-radius: 10px;

}}

QTabWidget[accessibleName="tab_widgets"] QTabBar {{
  background-color: #97ccf2;
  color:{QTMATERIAL_SECONDARYCOLOR};
  border: 1px solid {QTMATERIAL_SECONDARYCOLOR};;
}}

QTabWidget[accessibleName="tab_widgets"] QTabBar::tab::selected {{
  color:black;
}}


QTabWidget[objectName="online_analysis_tabs"] QStackedWidget > QWidget {{
  background-color: {QTMATERIAL_SECONDARYCOLOR};
  border: 1px solid grey;
  border-radius: 5px

}}

QTabWidget[objectName="online_analysis_tabs"] QTabBar {{
  background-color: #97ccf2;
  color:{QTMATERIAL_SECONDARYCOLOR};
}}

QTabWidget[objectName="online_analysis_tabs"] QTabBar::tab::selected {{
  color:black;
}}


QGroupBox[objectName="button_box_1"]{{
  border-radius: 10px;
}}

QGroupBox[objectName="button_box_1"] QLabel{{
  color: black;
}}



QStackedWidget{{
  background-color: rgba(255,255,255,0);
}}

QWidget[objectName="centralwidget"]{{
  background-color: rgba(223,223,223,20);
}}

