altgraph==0.17.5
anyio==4.12.1
backports.tarfile==1.2.0
build==1.4.0
CacheControl==0.14.4
certifi==2026.2.25
charset-normalizer==3.4.5
cleo==2.1.0
colorama==0.4.6
contourpy==1.3.3
crashtest==0.4.1
cycler==0.12.1
debugpy==1.8.20
distlib==0.4.0
duckdb==1.5.0
dulwich==1.1.0
fastjsonschema==2.21.2
filelock==3.25.1
findpython==0.7.1
fonttools==4.62.0
greenlet==3.3.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
importlib_metadata==8.7.1
iniconfig==2.3.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.1.1
jaraco.functools==4.4.0
Jinja2==3.1.6
joblib==1.5.3
keyring==25.7.0
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.10.8
more-itertools==10.8.0
mplcursors==0.7
msgpack==1.1.2
natsort==8.4.0
numpy==1.26.4
packaging==26.0
pandas==3.0.1
patsy==1.0.2
pbs-installer==2026.3.10
pefile==2024.8.26
picologging==0.9.3
pillow==12.1.1
pkginfo==1.12.1.2
platformdirs==4.9.4
pluggy==1.6.0
poetry==2.3.2
poetry-core==2.3.1
pyabf==2.3.8
Pygments==2.19.2
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
pyparsing==3.3.2
pyproject_hooks==1.2.0
pypylon==26.2.1
pyqtgraph==0.14.0
PySide6==6.10.2
PySide6_Addons==6.10.2
PySide6_Essentials==6.10.2
pytest==9.0.2
pytest-qt==4.5.0
python-dateutil==2.9.0.post0
python-discovery==1.1.3
pytz==2026.1.post1
pywin32-ctypes==0.2.3
qbstyles==0.1.4
qt-material==2.17
RapidFuzz==3.14.3
requests==2.32.5
requests-toolbelt==1.0.0
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
shellingham==1.5.4
shiboken6==6.10.2
six==1.17.0
SQLAlchemy==2.0.48
statannotations==0.7.2
statsmodels==0.14.6
threadpoolctl==3.6.0
tomlkit==0.14.0
trove-classifiers==2026.1.14.14
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
virtualenv==21.2.0
zipp==3.23.0
zstandard==0.25.0
